.jumbotron
  %p#notice= notice

  %p Choose your location - pick my location
  .form-group
  %label.control-label{for: "focusedInput"} Location
  %input#focusedInput.form-control{type: "text", value: "Enter the address here..."}/

  %p Choose your keyword: 
  %button.btn.btn-default#all{type: "button"} All
  %button.btn.btn-#hipster{type: "button"} Hipster
  %button.btn.btn-default#vintage{type: "button"} Vintage
  %button.btn.btn-default#hippie{type: "button"} Hippie
  %button.btn.btn-default#posh{type: "button"} Posh
  %button.btn.btn-default#art{type: "button"} Art
  %button.btn.btn-default#landmarks{type: "button"} Landmarks
  %button.btn.btn-default#markets{type: "button"} Markets
  %button.btn.btn-default#fasion{type: "button"} Fashion
  %button.btn.btn-default#geeks{type: "button"} Geeks


  :javascript
    var names_and_addresses = window.locations = #{result_coords(@places).to_json};



  %address 
    / = address[1]


  #map_canvas

  %button.btn.btn-default{type: "button"} Save map to favourites


  / %ul
  /   - @places.businesses.each do |place|
  /     %li
  /       = place.name
  /       %br/
  /       = place.location.display_address
  /   end