.jumbotron
  %p#notice= notice
  %ul
    - @places.businesses.each do |place|
      %li
        = place.name
        %br/
        = place.location.display_address
    end

  :javascript
    var address = window.locations = #{result_coords(@places).to_json};

  %address 
    / = address[1]


  #map_canvas
