.jumbotron
  %p#notice= notice
/ each do
  - place = @place.businesses[0]
  - address = place.location.display_address.join(" ")
  - latitude = get_coords(address)["lat"]
  - longitude = get_coords(address)["lng"]

  #map_canvas
