.jumbotron
  %p#notice= notice

  %p Choose your location - pick my location
  .form-group
  %label.control-label{for: "focusedInput"} Location
  %input#focusedInput.form-control#location{type: "text", placeholder: "Postcode"}/

  %p Choose your keyword: 
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => ''}}  All
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'hipsters'}} Hipster
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'vintage'}} Vintage
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'hippie'}} Hippie
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'posh'}} Posh
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'artists'}} Art
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'landmarks'}} Landmarks
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'markets'}} Markets
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'fashion'}} Fashion
  %button.btn.btn-default.keyword{:type => "button", :data => {'keyword' => 'geeks'}} Geeks

  - if @place
    :javascript
      var businesses_info = window.locations = #{result_coords(@places).to_json};

  %address 
    / = address[1]


  #map_canvas

  %button.btn.btn-default{type: "button"} Save map to favourites


  / %ul
  /   - @places.businesses.each do |place|
  /     %li
  /       = place.name
  /       %br/
  /       = place.location.display_address
  /   end