%p#notice= notice

<<<<<<< HEAD
=======
@place = address
>>>>>>> af718d06b7796068f5d4375c5428c5812847d38e

= link_to 'Edit', edit_map_path(@map)
\|
= link_to 'Back', maps_path
<<<<<<< HEAD
=======
#map_canvas
>>>>>>> af718d06b7796068f5d4375c5428c5812847d38e
